<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="10">
    
    <!--<listeners>
        <listener class-name="Listeners.Listeners"></listener>
    </listeners>-->

    
    <test  name="UpWork">

    <classes><class name="com.upwork.testcases.UpworkTest">
       <methods><include name="homePageTest"/>
        </methods>
    </class>

    </classes>

</test>

</suite>